<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="text-center">
          <h4>JA til vern av natur og dagens bruk av Nordre Sørøya.<br />NEI til vindturbiner, til industrianlegg på Nordre Sørøya.</h4>
        </div>
        <hr />
        <div class="row">
          <div class="d-none d-lg-block col-md-3 text-center">
            <img src="https://raw.githubusercontent.com/forkit-eu/fornordre_soroya/6c2ceaa86d560a1b0b1d4dd5a7af0a9e087d4999/logo.png" />
            <br />
          </div>
          <div class="col-md-9 col-12 text-left">
            <p>
              Grunnen til å starte «For Nordre Sørøya» er den plutselige trusselen om ødeleggelse av den unike naturen på Nordre Sørøya. Sammen med mange innbyggere og brukere av Sørøya ønsker «For Nordre Sørøya» stoppe det ødeleggende industrielle vindmølleprosjektet. Flertallet av innbyggerne og brukerne av «den grønne øya i nord» ønsker å gjøre sin stemme hørt nå!
            </p>
            <p>
              De ønsker å gjøre sin klare JA-stemme hørt:
              <ul>
                <li>JA til bevaring og vern av naturen og kulturlandskapet på Nordre Sørøya.</li>
                <li>JA til å fortsette dagens bruk og høsting av naturen.</li>
              </ul>
            </p>
            <p>
              De er også tydelige i sitt NEI:
              <ul>
                <li>INGEN vindmøller, INGEN industriinstallasjoner på Nordre Sørøya.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>